<?xml version="1.0" encoding="UTF-8"?>
    <Configuration name="tn.ha.Log4j2">
    <Properties>
    <Property name="logs_path">${logs_path}</Property>
<!-- <Property name="logs_path">c:\logs\PESV2</Property> -->
<!--     <Property name="budget_filename">${logs_path}/budget.log </Property> -->
<!-- 	<Property name="pesv2_filename">${logs_path}/pesv2.log </Property> -->
<!--      <Property name="fwk_filename">${logs_path}/framworks.log </Property> -->
<!--      <Property name="autre_filename">${logs_path}/autres.log </Property> -->
     <Property name="Pattern_format">%d{dd-MM-yyyy - HH:mm:ss} %p %c{3} - %m%n</Property>
  </Properties>
      <Appenders>
<!--        <appender name="Console" -->
<!--         class="ch.qos.logback.core.ConsoleAppender"> -->
<!--         <layout class="ch.qos.logback.classic.PatternLayout"> -->
<!--             <Pattern> -->
<!--                 %black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable -->
<!--             </Pattern> -->
<!--         </layout> -->
<!--     </appender> -->
<!--           <RollingFile name="budget" fileName="${budget_filename}" append="true" immediateFlush="true" -->
<!--           filePattern="${logs_path}/$${date:yyyy-MM}/budget-$${date:yyyy-MM-dd}-%i.log.zip"> -->
<!--       <PatternLayout pattern="${Pattern_format}"/> -->
<!--       <Policies> -->
<!--       <CronTriggeringPolicy schedule="0 0 0 * * ?"/> -->
<!--       <SizeBasedTriggeringPolicy size="20 MB" /> -->
<!--       </Policies> -->
<!--        <DefaultRolloverStrategy max="10"/> -->
<!--     </RollingFile> -->
<!-- 	 <RollingFile name="Pesv2" fileName="${pesv2_filename}" append="true" immediateFlush="true" -->
<!--           filePattern="${logs_path}/$${date:yyyy-MM}/Pesv2-$${date:yyyy-MM-dd}-%i.log.gz"> -->
<!--       <PatternLayout pattern="${Pattern_format}"/> -->
<!--       <Policies> -->
<!--       <CronTriggeringPolicy schedule="0 0 0 * * ?"/> -->
<!--       <SizeBasedTriggeringPolicy size="20 MB" /> -->
<!--       </Policies> -->
<!--        <DefaultRolloverStrategy max="10"/> -->
<!--     </RollingFile> -->
   
<!--         <File name="fwk" fileName="${fwk_filename}" append="true" immediateFlush="true"> -->
<!--           <PatternLayout pattern="${Pattern_format}"/> -->
<!--         </File> -->
<!--         <File name="autre" fileName="${autre_filename}" append="true" immediateFlush="false"> -->
<!--          <PatternLayout pattern="${Pattern_format}"/> -->
<!--         </File> -->
        
        <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
      </Appenders>
<!--       <Loggers> -->
<!--       <Logger name="fr.symphonie.budget" level="debug" additivity="false"> -->
<!--       <AppenderRef ref="budget" level="debug"> -->
<!--       </AppenderRef> -->
<!--     </Logger> -->
<!-- 	 <Logger name="fr.symphonie.pesv2" level="debug" additivity="false"> -->
<!--       <AppenderRef ref="Pesv2" level="debug"> -->
<!--       </AppenderRef> -->
<!--     </Logger> -->
<!--     <Logger name="fr.symphonie.xml" level="debug" additivity="false"> -->
<!--       <AppenderRef ref="Pesv2" level="debug"> -->
<!--       </AppenderRef> -->
<!--     </Logger> -->
<!-- 	 <Logger name="fr.gouv" level="debug" additivity="false"> -->
<!--       <AppenderRef ref="Pesv2" level="debug"> -->
<!--       </AppenderRef> -->
<!--     </Logger> -->
<!--    <Logger name="fr.symphonie.cpwin" level="debug" additivity="false"> -->
<!--       <AppenderRef ref="autre" level="debug"> -->
<!--       </AppenderRef> -->
<!--     </Logger> -->
<!--      <Logger name="fr.symphonie.util" level="debug" additivity="false"> -->
<!--       <AppenderRef ref="autre" level="debug"> -->
<!--       </AppenderRef> -->
<!--     </Logger> -->
<!--      <Logger name="org.springframework"  additivity="false"> -->
<!--       <AppenderRef ref="fwk" level="info"/> -->
<!--       <AppenderRef ref="Console" level="error"/> -->
<!--     </Logger> -->
<!--   <Logger name="org.hibernate"  additivity="false"> -->
<!--       <AppenderRef ref="fwk" level="info"/> -->
<!--       <AppenderRef ref="Console" level="error"/> -->
<!--     </Logger> -->
<!--     <Logger name="org.springframework.security.config"  additivity="false" level="off"> -->
<!--       <AppenderRef ref="fwk" /> -->
<!--     </Logger> -->
<!--       <Logger name="org.hibernate.jpa.internal.metamodel"  additivity="false" level="off"> -->
<!--       <AppenderRef ref="fwk" /> -->
<!--     </Logger> -->
<!--        <Logger name="org.hibernate.engine.jdbc.spi" level="off" additivity="false"> -->
<!--         <AppenderRef ref="fwk"/> -->
<!--       </Logger> -->
      
<!--       </Loggers> -->
    </Configuration>